 <div ng-controller="CustomersListController as customersListVM">
    <table datatable="ng" class="row-border hover" dt-options="customersListVM.dtOptions">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customersListVM.customerListEntries" ng-click="customersListVM.selectCustomer(customer.customerId)">
                <td>{{ customer.customerId }}</td>
                <td>{{ customer.customerFirstName }}</td>
                <td>{{ customer.customerLastName }}</td>
            </tr>
        </tbody>
    </table>
</div>

