<form name="updateCustomerContactForm" novalidate>
    <div class="form-group">
        <label>Country code:</label>
        <input type="number" class="form-control" placeholder="Country code"
               ng-model="customerEditVM.customerInfo.contactPhone.countryCode" required>
    </div>
    <div class="form-group">
        <label>Phone number:</label>
        <input type="text" class="form-control" placeholder="Phone number"
               ng-model="customerEditVM.customerInfo.contactPhone.phoneNumber" required>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="updateCustomerContactForm.$invalid" ng-click="customerEditVM.updateCustomerContact()">Update</button>
</form>